@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <table height="100%" width="100%">
        <tr>
            <td align="center" valign="middle"><p>Tên sách</p></td>
            <td ><input id="txtTenSach" type="text" /></td>
        </tr>
        <tr>
            <td align="center" valign="middle"><p>Giá sách</p></td>
            <td><input id="txtGiaSach" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2" ;"><input style="margin-left:40%;" id="ButtonThem" type="button" value="Thêm" /></td>
        </tr>
    </table>
</div>